[package]
name = "wts"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
crossterm = "0.28"
dirs = "6"
fuzzy-matcher = "0.3"
ratatui = "0.29"
serde = { version = "1", features = ["derive"] }
toml = "0.8"

[profile.release]
lto = true

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
must_use_candidate = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
